{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<!-- wrapper -->	
<div id="wrapper">
    <!--content-->  
    <div class="content">
        <!--register form -->
                <div class="main-register-holder">
                    <div class="main-register fl-wrap">
                        <h3>Sign In <span>City<strong>Book</strong></span></h3>
                        <div class="soc-log fl-wrap">
                            <p>For faster login or register use your social account.</p>
                            <a href="#" class="facebook-log"><i class="fa fa-facebook-official"></i>Log in with Facebook</a>
                        </div>
                        <div class="log-separator fl-wrap"><span>or</span></div>
                        <div id="tabs-container">
                            <div class="tab">
                                <div id="tab-1" class="tab-content">
                                    <div class="custom-form">
                                        <form method="post">
                                            {% if error %}
                                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                            {% endif %}
                                            <label for="inputEmail">Username or Email Address * </label>
                                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus onClick="this.select()"> 
                                            <label for="inputPassword">Password * </label>
                                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required onClick="this.select()"> 
                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                            <button type="submit"  class="log-submit-btn"><span>Log In</span></button> 
                                            <div class="clearfix"></div>
                                            <div class="filter-tags">
                                                <input id="check-a" type="checkbox" name="check">
                                                <label for="check-a">Remember me</label>
                                            </div>
                                        </form>
                                        <div class="lost_password">
                                            <a href="#">Lost Your Password?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!--register form end -->
    </div>
</div>

{% endblock %}
