{% extends 'base.html.twig' %}

{% block title %}Edit Meal{% endblock %}

{% block body %}
    <h1>Edit Meal</h1>

    {{ include('front/meal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('front_meal_index') }}">back to list</a>

    {{ include('front/meal/_delete_form.html.twig') }}
{% endblock %}
