{% extends 'base.html.twig' %}


{% block body %}
<<<<<<< HEAD
                    <!--section --> 
=======
                    <!--section -->
>>>>>>> feature/archi
                    <section id="sec1">
                        <!-- container -->
                        <div class="container">
                            <!-- profile-edit-wrap -->
                            <div class="profile-edit-wrap">
                                <div class="profile-edit-page-header">
                                    <h2>Commentaires</h2>
                                    <div class="breadcrumbs"><a href="#">Home</a><a href="#">Dasboard</a><span>Reviews</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
<<<<<<< HEAD
                                        {% include 'Front/partials/leftPanel.html.twig' %}
=======
                                        {% include 'front/partials/leftPanel.html.twig' %}
>>>>>>> feature/archi
                                    </div>
                                    <div class="col-md-9">
                                        <div class="dashboard-list-box fl-wrap">
                                            <div class="dashboard-header fl-wrap">
                                                <h3>Inbox</h3>
                                            </div>
                                            <div class="reviews-comments-wrap">
                                                {% for notation in notations %}
<<<<<<< HEAD
                                                <!-- reviews-comments-item -->  
                                                <div class="reviews-comments-item">
                                                    <div class="review-comments-avatar">
                                                        <img src="{{ asset(notation.giver.imgpath) }}" alt=""> 
                                                    </div>
                                                    
=======
                                                <!-- reviews-comments-item -->
                                                <div class="reviews-comments-item">
                                                    <div class="review-comments-avatar">
                                                        <img src="{{ asset(notation.giver.imgpath) }}" alt="">
                                                    </div>

>>>>>>> feature/archi
                                                       <div class="reviews-comments-item-text">
                                                        <h4><a href=#>{{ notation.giver.firstname }}</a></h4>
                                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                                                        <div class="clearfix"></div>
                                                        <p>" {{ notation.comment }} "</p>
                                                        <span class="reviews-comments-item-date"><i class="fa fa-calendar-check-o"></i>27 May 2018</span>
                                                    </div>
<<<<<<< HEAD
                                                    
                                                    
                                                </div>
                                                <!--reviews-comments-item end--> 
=======


                                                </div>
                                                <!--reviews-comments-item end-->
>>>>>>> feature/archi
                                                {% else %}
                                                        <tr>
                                                            <td colspan="6">no records found</td>
                                                        </tr>
                                                    {% endfor %}
                                            </div>
                                        </div>
                                        <!-- pagination-->
                                        <div class="pagination">
                                            <a href="#" class="prevposts-link"><i class="fa fa-caret-left"></i></a>
                                            <a href="#">1</a>
                                            <a href="#" class="current-page">2</a>
                                            <a href="#">3</a>
                                            <a href="#">4</a>
                                            <a href="#" class="nextposts-link"><i class="fa fa-caret-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--profile-edit-wrap end -->
                        </div>
                        <!--container end -->
                    </section>
<<<<<<< HEAD
                    <!-- section end -->	
=======
                    <!-- section end -->
>>>>>>> feature/archi
                    <div class="limit-box fl-wrap"></div>
                    <!--section -->
                    <section class="gradient-bg">
                        <div class="cirle-bg">
                            <div class="bg" data-bg="images/bg/circle.png"></div>
                        </div>
                    </section>
                    <!-- section end -->
            <a class="to-top"><i class="fa fa-angle-up"></i></a>
{% endblock %}
